<h1 class="page-header"> Make your registration</h1>

<div class="jumbotron">
  <div *ngIf="formErrors" class="alert alert-danger">
    <strong>
      <span class="glyphicon glyphicon-warning-sign"></span>
      There was an error while trying to create your account on the system.
    </strong>

    <ul>
      <li *ngFor="let error of formErrors">{{ error }}</li>
    </ul>
  </div>


  <form class="form-horizontal" [formGroup]="form" (ngSubmit)="signUpUser()">
  
    <div class="form-group has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('name')">
      <label for="name" class="col-sm-4 control-label">Nome</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="name" formControlName="name">
        <span class="glyphicon form-control-feedback" [ngClass]="formUtils.iconClassForErrorOrSuccess('name')"></span>

        <div *ngIf="formUtils.showFieldError('name')" class="text-danger">
          <div *ngIf="form.get('name').errors.required">the name is required</div>
          <div *ngIf="form.get('name').errors.minlength">name must be at least 5 characters</div>
          <div *ngIf="form.get('name').errors.maxlength"> the name must not exceed 100 characters</div>
        </div>
      </div>
    </div>
  
    <div class="form-group has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('email')">
      <label for="email" class="col-sm-4 control-label">Email</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" id="email" formControlName="email">
        <span class="glyphicon form-control-feedback" [ngClass]="formUtils.iconClassForErrorOrSuccess('email')"></span>
        
        <div *ngIf="formUtils.showFieldError('email')" class="text-danger">
          <div *ngIf="form.get('email').errors.required">Email is required</div>
          <div *ngIf="form.get('email').errors.email">the email you entered is invalid</div>
        </div>
      </div>
    </div>
  
    <div class="form-group has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('password')">
      <label for="password" class="col-sm-4 control-label">password</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="password" formControlName="password">
        <span class="glyphicon form-control-feedback" [ngClass]="formUtils.iconClassForErrorOrSuccess('password')"></span>
        
        <div *ngIf="formUtils.showFieldError('password')" class="text-danger">
          <div *ngIf="form.get('password').errors.required">password is required</div>
          <div *ngIf="form.get('password').errors.minlength">password must be at least 8 characters</div>
        </div>
      </div>
    </div>
    
    <div class="form-group has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('passwordConfirmation')">
      <label for="passwordConfirmation" class="col-sm-4 control-label">Password Confirmation</label>
      <div class="col-sm-4">
        <input type="password" class="form-control" id="passwordConfirmation" formControlName="passwordConfirmation">
        <span class="glyphicon form-control-feedback" [ngClass]="formUtils.iconClassForErrorOrSuccess('passwordConfirmation')"></span>
        
        <div *ngIf="formUtils.showFieldError('passwordConfirmation')" class="text-danger">
          <div *ngIf="form.get('passwordConfirmation').errors.required">Password confirmation is required.</div>
          <div *ngIf="form.get('passwordConfirmation').errors.mismatch">password and password confirmation are not matching</div>
        </div>
      </div>
    </div>
  
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button [disabled]="form.invalid || submitted" type="submit" class="btn btn-primary">Create an account</button>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        If you already have an account,
        <a routerLink="/sign-in">click here to enter</a>
      </div>
    </div>
  </form>
</div>
